*{
    box-sizing: border-box;
    margin: 0;
    font-fammily: 'Inter', sans-serif;
    /* padding: 0; */
}

.custom-dialog-header {
    background-color: #0763E7;
    color: #fff;
    height: 3rem;
    display: flex;
    text-color: #fff;
}